* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: monospace;
    font-size: 38px;
    margin: 20px 20px;
    background-color: #dfae6f;
    border: 1px solid #dfae6f;
    border-radius: 6px;
}

.row {
    width: 100%;
}

p {
    font-family: monospace;
    padding: 16px 5px;
}

.in-title {
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    right: 0px;
    background-color: #dfae6f;
    border: 1px solid #dfae6f;
    border-radius: 6px;
    padding: 2px;
}

.element{
    position: relative;
    float: left;
    background-color: #dadada;
    border: 1px solid #dadada;
    border-radius: 6px;
    height: 80px;
    margin: 20px 20px;
}

@media (min-width: 992px) {
    .element {
        width: calc(33% - 40px);
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .element {
        width: calc(50% - 40px);
    }
    
    #loner {
        width: calc(100% - 40px);
    }
}

@media (max-width: 767px) {
    .element {
        width: calc(100% - 40px)
    }
}