body {
    background: linear-gradient(45deg, #ccffff, #ffcccc) no-repeat;
}

.navbar {
    background: repeating-linear-gradient(45deg, lightblue 0px, lightblue 40px, lightpink 40px, lightpink 80px);
}

.navbar-default a {
    color: #000000 !important;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
    background-color: #00000033;
}

h2 {
    font-size: 1.5em;
}

section p {
    font-size: 1.2em;
}

#chicken {
    background-color: cadetblue;
}

#beef {
    background-color: coral;
}

#stew {
    background-color: darkseagreen;
}